/*///////////////////////////////////////////////////////////////////*/
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #0a0919;
}
.nav-wrapper {
  /* display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  /* overflow: auto; */

  width: 100%;
  padding: 0;
  margin: 0;
  background: #100f2e;
}
.logo img {
  margin-left: 200px;
  display: flex;
  height: 60px;
  width: 60px;
  float: left;
}
.text {
  margin-left: 25px;
  display: flex;
  align-self: center;
}
.text a {
  font-family: Roboto;
  color: #efeff0;
  text-transform: initial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
}
.home {
  padding: 10px;
  width: 45px;
  height: 11.84px;
  left: 54.47px;
  top: 16.58px;

  align-items: center;
  text-align: center;
}
.myintro {
  padding: 10px;
  width: 70px;
  height: 11.84px;
  left: 54.47px;
  top: 16.58px;

  align-items: center;
  text-align: center;
}
.blog {
  padding: 10px;
  width: 45px;
  height: 11.84px;
  left: 54.47px;
  top: 16.58px;

  align-items: center;
  text-align: center;
}
.potfolio {
  padding: 10px;
  width: 45px;
  height: 11.84px;
  left: 54.47px;
  top: 16.58px;

  align-items: center;
  text-align: center;
}
.text1 {
  /* position: absolute; */
  width: 137.47px;
  height: 40.43px;
  left: 0px;
  top: 39px;
  margin-left: 200px;
  margin-top: 160px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40.4318px;
  line-height: 47px;
  align-items: center;
  text-align: center;

  color: #fcb634;
}
.name2 {
  width: 956.89px;
  height: 137.47px;
  left: 0px;
  top: 82.13px;
  padding-left: 200px;
  font-family: BioRhyme;
  font-style: normal;
  font-weight: normal;
  font-size: 88.95px;
  line-height: 138px;

  align-items: center;
  text-align: left;
  letter-spacing: 0.11em;
  text-transform: capitalize;

  color: #ffffff;
  mix-blend-mode: normal;
}
.text3 {
  position: absolute;
  width: 539.09px;
  height: 29.65px;
  left: 200px;
  top: 400px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40.4318px;
  line-height: 47px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.description {
  margin-left: 200px;
  margin-top: 50px;
  padding-right: 150px;
  margin-right: 200px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24.2591px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.buttons {
  padding-left: 10px;
  margin-top: 25px;
  margin-left: 200px;
  display: flex;
}
.download1 {
  display: flex;
  width: 400px;
  height: 38px;
  left: 0px;
  top: 547px;

  background: #ffb633;
  border-radius: 28.9524px;
}
.phonenumber {
  /* display: flex;
  width: 400px;
  height: 38px;
  left: 213px;
  top: 547px;
  border: 2px solid #ffb633;
  box-sizing: border-box;
  border-radius: 28.9524px; */
  display: flex;
  border: 2px solid #ffb633;
  box-sizing: border-box;
  border-radius: 28.9524px;
}
.email3 {
display: flex;
/* width: 530px; */
/* height: 38px; */
/* left: 395px; */
/* top: 547px; */
border: 2px solid #ffb633;
box-sizing: border-box;
border-radius: 28.9524px;
}
.buttons img {
  float: left;
  align-self: center;
  padding-left: 10px;
  width: 25px;
  height: 25px;
  display: flex;
}

.buttons h1 {
  color: #efeff0;
  padding-left: 20px;
  font-size: 23px;
  align-self: center;
}

.download1 {
  width: 300px;
}
.phonenumber {
  margin-left: 20px;
  width: 250px;
}
.email3{
  margin-left: 20px;
  width: 400px;
}
.social {
  left: 5px;
  position: fixed;
  top: 40%;
  transform: translateY(-50%);
}
.social img {
  padding: 6px;
  height: 30px;
  display: block;
}

.profiledp {
  display: block;
}
.profiledp {
  width: 240px;
  height: 240px;
  right: 50px;
  position: fixed;
  top: 40%;
  transform: translateY(-50%);
  background: url(./Deskpick.jpeg);
  background-size: cover;
  /* background-position-x: 435px; */
  /* background-position-x: 460px; */
  /* background-position-y: 800px; */
  /* background-size: cover; */
  border: 1px solid #ffb633;
  border-radius: 150px;
}
